:root {
  --font-family-editor: "Source Code Pro", monospace;
  --font-family-preview: "Source Sans Pro", sans-serif;
}

.theme-light,
.theme-dark {
  --text-accent: #ffb86c;
  --text-accent-hover: #8be9fd;
  --text-normal: #f8f8f2;
  --text-muted: #f8f8f2;
  --text-faint: #bd93f9;
  --text-error: #ff79c6;
  --text-selection: #6272a4;
  --interactive-hover: #f0f98b;

  --text-title-h1: var(--text-error);
  --text-title-h2: var(--text-faint);
  --text-title-h3: var(--interactive-hover);
  --text-title-h4: var(--text-accent);
  --text-title-h5: #50fa7b;
  --text-title-h6: var(--text-accent-hover);;
  --inline-code: var(--text-faint);
  --code-block: var(--text-accent-hover);
  --pre-code: #44475a;
  --vim-cursor: var(--text-error);
}

/*************************************/
/*                tags               */
/*************************************/

/* Tag hover in preview */
a.tag:hover {
  color: var(--text-accent) !important;
}

/* Tag Color in editor and preview*/
.cm-hashtag,
a.tag {
  color: var(--text-accent-hover) !important;
}

/*********************************/
/*             link              */
/*********************************/

/* the url string in editor */
.cm-s-obsidian span.cm-string {
  color: var(--text-accent-hover) !important;
}

/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {
  color: var(--text-accent) !important;
}

/***************************************/
/*                Cursor               */
/***************************************/

/* Cursor color and opacity */

.cm-fat-cursor .CodeMirror-cursor,
.cm-animate-fat-cursor {
  background: var(--vim-cursor);
}

/**************************************/
/* basic format in EDITOR and PREVIEW */
/**************************************/

/* font for everything outside of editor/preview panes */
.app-container {
  font-family: var(--font-family-preview);
}

/* set the text selection color for preview mode */
::selection {
  background-color: var(--text-selection);
}

/* normal text outside of headings and code of editor */
.cm-s-obsidian,
.mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
}

/* normal text outside of headings and code of preview */
.markdown-preview-view,
.mod-single-child .markdown-preview-view {
  font-family: var(--font-family-editor);
}

/* bold in preview and editor */
strong,
.cm-strong {
  color: var(--text-title-h5);
}

/* emphasis in preview and editor */
em,
.cm-em {
  color: var(--text-muted);
}

/* strikethrough in preview and editor */
s,
.cm-strikethrough {
  color: var(--text-muted);
}

/* color for plain urls */
.cm-url {
  color: var(--text-accent) !important;
}

/* list in editor */
.cm-s-obsidian span.cm-formatting-list {
  color: var(--text-normal) !important;
}

/* headings for editor and preview */
.cm-header-1,
.markdown-preview-view h1 {
  font-family: var(--font-family-editor);
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2 {
  font-family: var(--font-family-editor);
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3 {
  font-family: var(--font-family-editor);
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-family: var(--font-family-editor);
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-family: var(--font-family-editor);
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-family: var(--font-family-editor);
  color: var(--text-title-h6);
}

/***************************************/
/*         Code block in  Preview      */
/***************************************/

/* code blocks in preview */
pre code {
  font-family: var(--font-family-editor) !important;
  color: var(--code-block) !important;
}

/* .markdown-preview-view code {
  }

/* remove the shadow that typically affect light mode */
.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  color: var(--text-faint) !important;
  background-color: var(--pre-code);
}

/***************************************/
/*              Brackets               */
/***************************************/

.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-accent) !important;
}

/***************************************/
/*             Blockquote              */
/***************************************/

/* for editor */
.cm-quote {
  color: var(--text-normal) !important;
}

/* for preview */
.markdown-preview-view blockquote {
  background-color: var(--pre-code);
  border-color: var(--blockquote-border) !important;
}

/***************************************/
/*               Checkbox              */
/***************************************/

.markdown-preview-view .task-list-item-checkbox:checked::before {
  color: var(--text-accent);
}

/***************************************/
/*              popover                */
/***************************************/

.popover {
  border: 1px solid var(--border-color);
}

/***************************************/
/* internal embedded link in preview   */
/***************************************/

/* the link on the top right corner*/
.markdown-embed-link {
  color: var(--text-faint) !important;
}

.markdown-embed-link:hover {
  color: var(--text-accent) !important;
}

/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight {
  color: var(--text-accent) !important;
}

.graph-view.color-text {
  color: var(--text-normal) !important;
}

.graph-view.color-line {
  color: var(--text-selection);
}

.graph-view.color-fill {
  color: var(--text-muted);
}

/**************************************/
/*  note header bar for non-andy mode */
/*        activated in dark mode      */
/**************************************/

/* header */

.theme-dark .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent) !important;
}

.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent) !important;
}

.view-header-title,
.view-header-icon,
.view-action {
  color: var(--text-faint);
}

/* now it's time for the fancy vertical titles */

/* fix the long-title-obscuring shadows */
.theme-light .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent) !important;
}

.theme-light .markdown-preview-view,
.theme-light .mod-single-child .markdown-preview-view {
  font-family: var(--font-family-editor);
}

/***************************************/
/*       Code block in Editor          */
/***************************************/

/* in-line block for editor */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code) {
  background-color: var(--pre-code-bg);
  color: var(--inline-code) !important;
}

/* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
  font-family: var(--font-family-editor) !important;
  color: var(--code-block) !important;
}

/* in-line block for preview */
code {
  color: var(--inline-code) !important;
}

/* graph css  */
.theme-dark .graph-view.color-arrow {
  color: var(--text-title-h5);
}

.theme-dark .graph-view.color-fill-tag {
  color: var(--text-accent)
}

.theme-dark .graph-view.color-fill-attachment {
  color: var(--interactive-hover);
}

.theme-dark .graph-view.color-fill-unresolved {
  color: var(--text-selection);
}

.search-result-collapse-indicator {
  color: var(--text-faint);
}
